
/* GLOBAL RESETS AND GENERAL STYLES */

html {
 
    background-color: #040200; /* Used if the image is unavailable */
    background-size: auto; 
    background-image: url("../img/background_image.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
    direction: ltr;
    
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {

}
  
h2 {
    font-size: 50pt;
    color: #f5f1f4;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
 
}

h3 {
    font-size: 2.5em;
    color: #00ff00;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
	font-family: Lato, Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 1em;
}
a {
	color: #00ff00;
	text-decoration: none;
	line-height: inherit;
}

#upButton {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 50px;
    z-index: 99; 
    outline: none;
    cursor: pointer; 
    width: 50px;
    opacity: 0.5;
  }
  
  #upButton:hover {
    filter: drop-shadow(0 0 0.75rem #f5f1f4);
    opacity: 1;
  }

a:focus {

	outline: none;
}

/* BODY */

body {
	font-family: Lato, Arial, sans-serif;
	margin: 0 auto;
	padding: 20px 0 0 0;
    max-width: 1200px;
    color: #f5f1f4;


}

/* Hover effects for some logos */

img.facebook:hover {
    content: url("../img/facebook_hover.png");
}

img.instagram:hover {
    content: url("../img/instagram_hover.png");
}

img.youtube:hover {
    content: url("../img/youtube_hover.png");
}

img.twitter:hover {
    content: url("../img/twitter_hover.png");
}

/* General styles for different blocks */

.outer_block {
    background: rgba(28,113,155,0.4);
    border: 10px solid #314A59;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px;
}

.inner_block {
    background: #040813;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    border: 10px solid #1c71a6;  
    margin-bottom: 30px;  
}

.inner_block_article {
    margin: 25px;
    padding: 50px;
    width: 1000px;
    margin: auto;

    font-size: 1.2em;

}

.info_block {
    background: #314A59;
    border: 5px solid #00ff00;
    border-radius: 10px;
    width: 930px;
    margin: auto;
    
}   

.minus_button,
.plus_button {
    width:35px;
    margin: 0 10px 0 0;
    display: inline-block;
    cursor: pointer;
}

.minus_button:hover {
    filter: drop-shadow(0 0 0.75rem #00ff00);
}

.plus_button:hover {
    filter: drop-shadow(0 0 0.75rem #f5f1f4);
}

.readmore_container {
    text-align: center;
}

.readmore {
    background-color: #040813;
    border: 5px solid #f5f1f4;
    color: #f5f1f4;
    padding: 10px 25px;
    margin: 25px auto;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.readmore:hover {
    filter: drop-shadow(0 0 0.75rem #f5f1f4);
}

a .readmore {
    color: #f5f1f4;
}

.darker {
    background-color: #040813;
}

.dark {
    background-color: #314A59;
}

.light {
    background-color: #1c71a6;
}


/* CSS lightbox for images */

.thumbnail {
    max-width: 40%;
  }
  
.lightbox {

	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
}

.lightbox:target {


	display: block;
}




/* HEADER */

header {

}

header div.logo {
    float:left;
}

header div.logo img {
    width: 300px;
}

header div.socialmedia {
    float: right;
}


header div.socialmedia img {
    width: 40px;
}



header div.site_title {
    clear: both;
    text-align: center;
    padding: 50px 0px;
    border-radius: 500px;

}

header div.site_title div.title {
    width: 100%;
    font-size: 80pt;
    color: #00ff00;
    font-family: acier-bat-outline, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.9em;
}

header div.site_title hr {
    width: 55%;
    border: 2px solid #00ff00;
    margin-top: 0;
    padding: 0;
}

header div.site_title div.subtitle {
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    color: #f5f1f4;
}

header div.main_menu {
    padding: 10px 0px;
}

header div.main_menu ul {
    list-style-type: none;
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	justify-content: space-evenly;
} 

header h1 {
    color: #1c71a6;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45pt;

}


header h1:hover {
    filter: drop-shadow(0 0 0.75rem #f5f1f4);
}

header div.main_menu ul li.active h1:hover {
    filter: none;
}


header div.main_menu ul li.active h1 {
    color: #f5f1f4;
    font-family: acier-bat-solid, sans-serif;
}

header div.news_panel {
    width: 100%;
    border: 5px solid #7DDB33;
    border-radius: 10px;
    background: rgba(28,113,155,0.5);
    color: #7DDB33;
    padding: 10px;
}



header div#historicalEvent {
    width: 100%;
    float:left;
    color: #f5f1f4;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

header div#historicalEvent a {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

/* LAUNCH BLOCKS */


.outer_block h2 {

    width: 100%;
    text-align: center;
    padding: 0 0 30px 0;
}

div.mission_info {

	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

    justify-content: flex-start;
    
    padding: 30px;
}

 div.launch_image {
    background: #040813;

    height: 100%;
    display: inline;
}

div.launch_image img.launch_image {
    width: 160px;
    border: 10px solid #f5f1f4;

}

div.detailed_info {
    padding: 0 20px;
    width: 100%;

	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

    justify-content: flex-start;

    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}


 div.mission_name {
 
    float: left;
    width: 45%;
}

div.mission_name div {
    padding-right: 50px;
    color: #7DDB33;
    font-size: 1.1em;
}

div.mission_name div:first-child,
div.mission_date div:first-child {
    color: #f5f1f4;
}

div.mission_date {

    float: left;
    width: 50%;

}

div.mission_date div {
    color: #7DDB33;
    font-size: 1.1em;
}

div.details {
  
    width: 96%;
    font-size: 0.6em;
    font-family: Lato, Arial, sans-serif;
    margin: 20px 0;
    padding:20px;
    line-height: 1.5;
    background-color: #314A59;
    border: 1px solid #f5f1f4;

}

div.info_button {
    width: 100%;
    margin: 10px 0;

}

div.info_button div.more_information {
    display: inline-block;
    
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
   
}


div.rocket_block {
    padding: 25px;
    margin-bottom: 30px;
    display: none;
 
}

div.rocket_block h3 {
    padding-bottom: 10px;
    line-height: 1.1em;
}

div.rocket_block h3 span {
    color: #f5f1f4;
    font-size: 1.5em;
}

div.rocket_block div {
    font-size: 16pt;
}

div.rocket_block div span {
    font-weight: bold;
    text-transform: capitalize;
}

div.rocket_block  {
    line-height: 1.7em;
    padding: 50px;
}

div.info_block span {
    margin-bottom: 20px;
    display: block;
}

div.facts {
    float:right;
    width: 40%;
    
}

div.description {
    float:left;
    width: 55%;

}

div.images {
    padding: 40px 0;
 
}

div.images img {
    border: 5px solid #f5f1f4;
    margin: 5px;
}

div.launchsite_block {

    margin-bottom: 30px;
    line-height: 1.7em;
    padding: 50px;
    display: none;
    
}

div.launchsite_block h3 {
    padding-bottom: 10px;
    line-height: 1.1em;
}

div.launchsite_block h3 span {
    color: #f5f1f4;
    font-size: 1.5em;
    line-height: 1.05;
}

div.launchsite_block div {
    font-size: 16pt;
}

div.launchsite_block div span {
    font-weight: bold;
    text-transform: capitalize;
}

div.launchsite_block div:nth-child(even) {
    margin-bottom: 20px;
}

section.content_block img {
    width: 100%;
}

section.content_block div.article_image_container {
    position: relative;
}

section.content_block div.caption {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background: rgba(0,0,0,0.75);
}

section.content_block div.caption div {
    font-size: 1em;
    line-height: 1.5;
}

section.content_block div.caption h3 {

    padding-bottom: 10px;
}



/* CONTACT US  */

#contact h3 {
    text-align: center;
}

div.contact_information {
    padding: 50px 0;
    margin: 0;

	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	justify-content: space-around;
}

div.contact_information div {
    text-align: center;
    font-size: 1.5em;
}

div.contact_information span {
    font-weight: bold;
    display: block;
}

/* CONTACT US - CONTACT FORM */

#form_wrapper {
    padding: 50px 200px 0 200px;
}

#form_wrapper input,
#form_wrapper select,
#form_wrapper textarea,
#form_wrapper label {
    display: inline-block;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    width: 100%;
}

#form_wrapper input,
#form_wrapper select,
#form_wrapper textarea {
    border: 4px solid #005288;
    margin-bottom: 10px;
}


#form_wrapper input:focus,
#form_wrapper select:focus,
#form_wrapper textarea:focus {
    filter: drop-shadow(0 0 0.75rem #f5f1f4);
}


#form_wrapper label {
    margin: 10px 0;
}


#form_wrapper .float_container {
    width: 50%;
    float:left;
}

#form_wrapper .submit_wrapper {
    text-align: center;
}

#form_wrapper input[type="submit"] {
    padding: 10px 30px;
    width: 50%;
    border: 4px solid #f5f1f4;
    background-color: #1C71A6;
    color: #f5f1f4;
}

.error{
    color: #00FF00;
    display: none;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-bottom: 30px;
}


/* ARTICLE */

#article div.ingress {
    padding: 20px;
    background-color: #314A59;
    font-weight: bold;
    line-height: 1.5em;
}

#article .article_content .image_wrapper {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}


#article .image_wrapper img:first-of-type {
    border: 5px solid #f5f1f4;
}


#article .article_content div.article_image_caption {
    background-color: #1c71a6;
    color: #f5f1f4;
    padding: 10px;
    font-size: 16px;
}

#article .article_content h4 {
    color: #f5f1f4;
    font-size: 2em;
    margin: 20px 0;
}


#article .some_sharing {
    margin: 0;
    text-align: right;
}
 
#article .some_sharing div {
 
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    display: block;
}

#article .some_sharing img {
    width: 43px;
    display: inline;
}

#article .some_sharing img#facebook_share:hover {
    content: url(../img/facebook_hover.png);
}

#article .some_sharing img#twitter_share:hover {
    content: url(../img/twitter_hover.png);
}


/* FOOTER */

footer {
    padding: 50px 0;
    margin: 0;

	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	justify-content: space-evenly;
}

footer div.left ul {

    list-style-type: none;


	-webkit-display: flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;

	justify-content: flex-start;
}

footer div.left {
    width: 400px;
    padding-top: 60px;
}

footer div.left ul li {
    width: 50%;
    height: 50px;
}

footer h4 {
    color: #1c71a6;
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
}


footer div.left ul li.active h4 {
    color: #f5f1f4;
}

footer div.center  {
    width: 400px;
    text-align: center;
}

footer div.center div.logo img {
    width: 300px;
    padding-bottom: 10px;
    margin: 20px 0 0 30px;
}

footer div.center div.title {
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    color: #00ff00;
    width: 200px;
    margin: auto;
    padding-right: 30px;
}


footer div.center div.address {
    color: #f5f1f4;
    text-align: center;
    margin: 10px auto;
    width: 170px;
    padding-right: 30px;
}

footer div.right {
    width: 400px;
    text-align: right;
}

footer div.right {
    font-family: acier-bat-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    color: #1c71a6;
    padding-top: 50px;
}

footer div.right a img {
    width: 50px;
}


/* MEDIA QUERIES */

/* iPad Pro - 1024px width */
@media screen and (max-width: 1024px) {
    body {
 
        width: 960px;
    }

    .inner_block {
 
        border-radius: 10px;
        width: 860px;
        margin: auto;
        border: 10px solid #1c71a6;  
        margin-bottom: 30px;  
    }

    .inner_block_article {
        margin: 25px;
        padding: 25px;
        width: 860px;
        margin: auto;
    
    }

    .info_block {
        background: #314A59;
        border: 5px solid #00ff00;
        border-radius: 10px;
        width: 800px;
        margin: auto;

    }   

    header div.main_menu ul li h1 {
        font-size: 40pt;
    }

    footer h4 {
        font-size: 20pt;
    }
}

/* iPad and other tables 800px width */
@media screen and (max-width: 800px) {
    body {
 
        width: 740px;
    }

    .outer_block {
        padding: 30px 0;
        font-size: 0.8em !important;
    }

    .inner_block {
        width: 660px;
    }

    .inner_block_article {
        width: 660px;
    }

  

    div.images img {
        width: 300px;
    }

    .info_block {
        width: 600px;
    }   


    header div.main_menu ul li h1 {
        font-size: 30pt;
    }

    .info_block {
        padding: 20px !important;
    }

    .info_block div {
        font-size: 0.5em;
        line-height: 1.4 !important;
        font-weight: normal;
    }

    .info_block img {
        width: 50%;
    }

    #form_wrapper {
        padding: 50px 100px 0 100px;
    }

    footer h4 {
        font-size: 15pt;
    }
    footer img {
    
    }
}




/* iPhoneX - 375px width */
@media screen and (max-width: 375px) {
    body {
        width: 365px;
    }

    header div.logo {
        float:none;
        width: 100%;
        text-align: center;
    }

    header div.logo img {
        width: 70%;
        margin-left: 30px; // because of design

    }

    header div.socialmedia {
        display: none;
    }

    header div.site_title div.title {
        font-size: 3.5em !important;
    }


    header div.site_title hr {
        width: 90%;
    }

    header div.site_title div.subtitle {
        font-size: 1em !important;
    }

    header div#historicalEvent {
        width: 100%;
        float:left;
        color: #f5f1f4;
        line-height: 1.3em;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    /* Hide history panel on mobile*/
    header div.news_panel {
        display: none;
    }

    header div.main_menu ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;        
    }

    header div.main_menu ul li h1 {
        font-size: 27pt;
    }

    section.content_block div.caption h3 {
        font-size: 2em;
    }

    div.mission_info {
        flex-direction: column;
        padding: 10px;
    }

    .mission_info_wrapper {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
    
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    
        -ms-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    
        justify-content: flex-start;
    
    }

    div.detailed_info {
        padding: 10px 0;
    }

    .info_block {
        -webkit-display: flex;
        -ms-display: flex;
        display: flex;
    
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    
        -ms-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    
        justify-content: flex-start;
    }

    .info_block div {
        width: 100%;
    }

    .info_block img {
        width: 100%;
    }

    div.launchsite_block h3 span {
        font-size: 1em;
    }

    div.rocket_block h3 span {
        font-size: 1em;
    }


    section.content_block div.caption {
        position: relative;
    }

    .inner_block {

        border-radius: 10px;
        width: 330px;
        margin: auto;
        border: 10px solid #1c71a6;  
        margin-bottom: 30px;  
    }

    .inner_block_article {
        margin: 25px;
        padding: 25px;
        width: 330px;
        margin: auto;
    }

    .info_block {
        background: #314A59;
        border: 5px solid #00ff00;
        border-radius: 10px;
        width: 300px;
        margin: auto;

    }   

    footer h4 {
        font-size: 20pt;
    }

    h2 {
        font-size: 30pt;
    }

    div.mission_name,
    div.mission_date {

        width: 100%;
        margin: 20px 0;
    }

    div.mission_name div,
    div.mission_date div {

        width: 100%;
        padding: 0;
    }

    div.launch_image img.launch_image {
        width: 100%;
    }

    #form_wrapper {
        padding: 20px;
    }

    #form_wrapper input[type="submit"] {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }
    footer div {
        width: 375px !important;
        text-align: center;
    }

    footer div.right div {
        margin-bottom: 10px;
    }

    div.contact_information {
        flex-direction: column;
    }

    footer div.left {
        padding-top:0px;
    }

}

/* iPhone SE - 320px width */
@media screen and (max-width: 320px) {

    body {
        width: 300px;
    }

    header div.main_menu ul li h1 {
        font-size: 25pt;
    }

    header div.site_title div.title {
        font-size: 2.5em !important;
    }

    .inner_block {
        border-radius: 10px;
        width: 270px;
        margin: auto;
        border: 10px solid #1c71a6;  
        margin-bottom: 30px;  
    }

    .inner_block_article {
        margin: 25px;
        padding: 10px;
        width: 270px;
        margin: auto;
    }

    .info_block {
        background: #314A59;
        border: 5px solid #00ff00;
        border-radius: 10px;
        width: 240px;
        margin: auto;
    }   



    h2 {
        font-size: 30pt;
    }

    footer h4 {
        font-size: 20pt;
    }

    footer div {
        width: 320px !important;
    }

    footer div.center div.logo img {
        width: 200px;
    }

  
    
}